#ve19 .span1 {
  font-size : 36pt;
}
#ve51 .GraphDataStyleDefault {
  fill-color : #2C8AD6;
}
#ve51 .GraphDataStyle1 {
  fill-color : #2C8AD6;
}
#ve51 .GraphDataStyle2 {
  marker-color : #2C8AD6;
  text-color : #2C8AD6;
  fill-color : #2C8AD6;
  line-color : #2C8AD6;
}
#ve93 .paragraph1 {
  text-align : center;
}
#ve93 .span1 {
  font-size : 20pt;
}
#ve93 .paragraph2 {
  text-align : center;
}
#ve93 .span2 {
  color : #84414B;
  font-size : 18pt;
}
#ve100 .paragraph1 {
  text-align : center;
}
#ve100 .span1 {
  font-size : 20pt;
}
#ve100 .span2 {
  font-weight : bold;
}
#ve100 .paragraph2 {
  text-align : center;
}
#ve100 .span3 {
  color : #2470AD;
  font-size : 18pt;
}
